body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    background-image: url('');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
  }

  .login-container h2 {
    margin-bottom: 20px;
    color: #333;
  }

  .login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: darkblue;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-container button:hover {
    background-color: darkblue;
  }

  .message {
    color: red;
    margin-top: 15px;
  }
  
.tempatpesan{
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: ;
    width: 300px;
    border-radius: 8px;
  }
  .tempatpesan p{
    font-size: 18px;
    margin-bottom: 15px;
  }
  .tempatpesan button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .tempatpesan button:hover{
    background-color: #0056b3;
  }